<html>
<head>
    <title>Ko List</title>
</head>
<body></body>
</html>
<h2>KO List</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<table class="table">
    <tr>
        <th>
            CountryID
        </th>
        <th>
            Code
        </th>
        <th>
            English
        </th>
        <th>
            Hebrew
        </th>
        <th>Actyions</th>
    </tr>
    <tbody data-bind="foreach: $data">
    <tr>
        <td data-bind="text: CountryID"></td>
        <td data-bind="text: Code"></td>
        <td data-bind="text: English"></td>
        <td data-bind="text: Hebrew"></td>
    </tr>
    </tbody>
    
</table>


<script>
    $.get('data').then(function (dt) {
        var model = { countries: dt };
        ko.applyBindings(dt);
    })
</script>
